As this is the *N-th* iteration of this project, data files are currently all over the place. In this notebook, I hope to consolidate as much historical data that I have as possible and migrate it to a single MongoDB cluster.

# MongoDB Setup #

Now it's time to move these cleaned files into a MongoDB database

In [1]:
import os
import re
from dotenv import load_dotenv
from pymongo import MongoClient

load_dotenv()

True

In [2]:
#assigning environment variables

#MONGODB_URL inside .env file
MONGODB_URL = os.getenv("MONGODB_URL")
CLUSTER = os.getenv("CLUSTER")

In [3]:
#connect to MongoDB
client = MongoClient(MONGODB_URL)
db = client[CLUSTER]

In [4]:
type(db)

pymongo.database.Database

# Cleaning Column Names and Datatypes #

## Old School Bond ##

In [5]:
import pandas as pd
import numpy as np

In [6]:
#the largest old school bond data set
bond_df = pd.read_csv("hist_data/old_school_bond_appended.csv")
bond_df_copy = bond_df.copy()

In [7]:
bond_df.head()

   Index Timestamps_close    Close Timestamps_average  Average
0      0       2020/04/08  4134618         2020/04/08  4522980
1      1       2020/04/09  4009639         2020/04/09  4501601
2      2       2020/04/10  3903868         2020/04/10  4473252
3      3       2020/04/11  3853462         2020/04/11  4442300
4      4       2020/04/12  3941327         2020/04/12  4415261

**Problems**
- There are 2 timestamp columns
- There is a seccond Index column
- Timestamp column names are named strangely
- Timestamps are probably strings, not a date object

## Fixing Timestamps ##

In [8]:
#check that timestamp columns are identical
close_ts = bond_df["Timestamps_close"]
avg_ts = bond_df["Timestamps_average"]
truthy = close_ts == avg_ts
where = truthy[truthy==False]
where #these timestamps are certainly all the same and .:. redundant

Series([], dtype: bool)

In [9]:
#what's the data type for the timestamps?
type(bond_df["Timestamps_close"][0]) #convert to datetime objects

str

In [10]:
bond_df["Timestamps_close"] = pd.to_datetime(bond_df["Timestamps_close"])

In [11]:
type(bond_df["Timestamps_close"][9])

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
bond_df

     Index Timestamps_close    Close Timestamps_average  Average
0        0       2020-04-08  4134618         2020/04/08  4522980
1        1       2020-04-09  4009639         2020/04/09  4501601
2        2       2020-04-10  3903868         2020/04/10  4473252
3        3       2020-04-11  3853462         2020/04/11  4442300
4        4       2020-04-12  3941327         2020/04/12  4415261
..     ...              ...      ...                ...      ...
195    195       2020-10-20  5803452         2020/10/20  5424806
196    196       2020-10-21  5934796         2020/10/21  5451299
197    197       2020-10-22  5916807         2020/10/22  5475026
198    198       2020-10-23  5729726         2020/10/23  5490737
199    199       2020-10-24  5582513         2020/10/24  5501892

[200 rows x 5 columns]

## Several Operations ##

- Remove the useless columns, Index and one of the timestamps columns
- Change the timestamps datatype from str to pd.Timestamp
- Rename the index
- Rename the columns (with units!)

In [13]:
#remove to index by date instead
bond_df = bond_df.drop("Index", axis=1)
#remove redundant timestamps
bond_df = bond_df.drop("Timestamps_average", axis=1)
#set the index to pd.Timestamp objects
bond_df = bond_df.set_index("Timestamps_close")
#rename the index 
bond_df.index.name = "Date"
#rename the columns
bond_df.columns = ["Close (GP)", "Average (GP)"]
bond_df

            Close (GP)  Average (GP)
Date
2020-04-08     4134618       4522980
2020-04-09     4009639       4501601
2020-04-10     3903868       4473252
2020-04-11     3853462       4442300
2020-04-12     3941327       4415261
...                ...           ...
2020-10-20     5803452       5424806
2020-10-21     5934796       5451299
2020-10-22     5916807       5475026
2020-10-23     5729726       5490737
2020-10-24     5582513       5501892

[200 rows x 2 columns]

In [14]:
bond_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 200 entries, 2020-04-08 to 2020-10-24
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Close (GP)    200 non-null    int64
 1   Average (GP)  200 non-null    int64
dtypes: int64(2)
memory usage: 4.7 KB

No missing values and datatypes are as expected

## Red Chinchompas ##

In [15]:
#the longest red chinchompas dataset as a csv
rchins = pd.read_csv("hist_data/red_chinchompa_appended.csv")
rchins_copy = rchins.copy()

In [16]:
rchins.tail() #ends on Oct. 24 2020

,Index,Item Timestamps,Timestamps_close,Close,Timestamps_average,Average,Timestamps,Volume
195,195,2020/10/20,2020/10/20,1182,2020/10/20,1105,2020/10/20,8191571.0
196,196,2020/10/21,2020/10/21,1168,2020/10/21,1103,2020/10/21,9429012.0
197,197,2020/10/22,2020/10/22,1155,2020/10/22,1101,2020/10/22,6979693.0
198,198,2020/10/23,2020/10/23,1145,2020/10/23,1099,2020/10/23,5877863.0
199,199,2020/10/24,2020/10/24,1137,2020/10/24,1098,2020/10/24,6976954.0

**Problems**
- There are 4 timestamp columns that I assume are all identical
- The second index column has a weird name "Unnamed:0"
- Volume is a decimal (probably float) but close and average look like ints

### Timestamps Problem ###

In [17]:
item_t = rchins["Item Timestamps"]
close_t = rchins["Timestamps_close"]
avg_t = rchins["Timestamps_average"]
t = rchins["Timestamps"]

from itertools import permutations
perm = permutations([item_t, close_t, avg_t, t], 2)
for i in list(perm):
    comparison_srs = i[0]==i[1]
    print(comparison_srs[comparison_srs==False])

Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)
Series([], dtype: bool)

### Dropping Redundant Timestamps ###

In [18]:
dropping = ["Item Timestamps", "Timestamps_close", "Timestamps_average"]
for col in dropping:
    rchins = rchins.drop(col, axis=1)
rchins.head()

   Index  Close  Average  Timestamps      Volume
0      0   1734     1762  2020/04/08   9968057.0
1      1   1741     1761  2020/04/09   5868933.0
2      2   1737     1759  2020/04/10   3882743.0
3      3   1726     1758  2020/04/11  11836445.0
4      4   1686     1756  2020/04/12   7549086.0

### Dropping the second column of indices ###

In [19]:
rchins = rchins.drop("Index", axis=1)
rchins.head()

   Close  Average  Timestamps      Volume
0   1734     1762  2020/04/08   9968057.0
1   1741     1761  2020/04/09   5868933.0
2   1737     1759  2020/04/10   3882743.0
3   1726     1758  2020/04/11  11836445.0
4   1686     1756  2020/04/12   7549086.0

### Fixing Time/Date Datatype ###

In [20]:
rchins["Timestamps"] = pd.to_datetime(rchins["Timestamps"])
type(rchins["Timestamps"][8])

pandas._libs.tslibs.timestamps.Timestamp

### Setting Index to Timestamps ###

In [21]:
rchins = rchins.set_index("Timestamps")
rchins

            Close  Average      Volume
Timestamps
2020-04-08   1734     1762   9968057.0
2020-04-09   1741     1761   5868933.0
2020-04-10   1737     1759   3882743.0
2020-04-11   1726     1758  11836445.0
2020-04-12   1686     1756   7549086.0
...           ...      ...         ...
2020-10-20   1182     1105   8191571.0
2020-10-21   1168     1103   9429012.0
2020-10-22   1155     1101   6979693.0
2020-10-23   1145     1099   5877863.0
2020-10-24   1137     1098   6976954.0

[200 rows x 3 columns]

### Renaming Columns ###

In [22]:
rchins.index.name = "Date"
rchins.columns = ["Close (GP)", "Average (GP)", "Volume (Sold)"]
rchins

            Close (GP)  Average (GP)  Volume (Sold)
Date
2020-04-08        1734          1762      9968057.0
2020-04-09        1741          1761      5868933.0
2020-04-10        1737          1759      3882743.0
2020-04-11        1726          1758     11836445.0
2020-04-12        1686          1756      7549086.0
...                ...           ...            ...
2020-10-20        1182          1105      8191571.0
2020-10-21        1168          1103      9429012.0
2020-10-22        1155          1101      6979693.0
2020-10-23        1145          1099      5877863.0
2020-10-24        1137          1098      6976954.0

[200 rows x 3 columns]

### Checking Column Datatypes ###

In [23]:
rchins.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 200 entries, 2020-04-08 to 2020-10-24
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Close (GP)     200 non-null    int64
 1   Average (GP)   200 non-null    int64
 2   Volume (Sold)  200 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 6.2 KB

Since units sold can't be fractional, let's set the datatype of volume to int

In [24]:
rchins["Volume (Sold)"] = rchins["Volume (Sold)"].astype("int")
rchins.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 200 entries, 2020-04-08 to 2020-10-24
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Close (GP)     200 non-null    int64
 1   Average (GP)   200 non-null    int64
 2   Volume (Sold)  200 non-null    int64
dtypes: int64(3)
memory usage: 6.2 KB

# Defining Helper Functions #

Since Old School Bonds do not have a volume column, there will be separate helper functions for Old School Bonds and the remaining items.

## Cleaning Functions ##

In [25]:
def clean_bond_data(bond_data):
    #data transformations
    
    #use the old Timestamps_close column for timestamps
    #convert datatype to pd.Timestamp
    bond_data["Timestamps_close"] = pd.to_datetime(bond_data["Timestamps_close"])
    
    #remove to index by date instead
    bond_data = bond_data.drop("Index", axis=1)
    #remove redundant timestamps columns
    bond_data = bond_data.drop("Timestamps_average", axis=1)
    
    #set the index to pd.Timestamp objects
    bond_data = bond_data.set_index("Timestamps_close")
    #rename the index 
    bond_data.index.name = "Date"
    #rename the columns
    bond_data.columns = ["Close (GP)", "Average (GP)"]

    return bond_data

In [26]:
def clean_item_data(item_data):
    #data transformations
    
    #drop many redundant timestamps columns
    dropping = ["Item Timestamps", "Timestamps_close", "Timestamps_average"]
    for col in dropping:
        item_data = item_data.drop(col, axis=1)
    
    #dropping the second indices column
    item_data = item_data.drop("Index", axis=1)
    
    #convert timestamps column to pd.Timestamp objects
    item_data["Timestamps"] = pd.to_datetime(item_data["Timestamps"])
    
    #index by Timestamps
    item_data = item_data.set_index("Timestamps")
    
    #renaming columns
    item_data.index.name = "Date"
    item_data.columns = ["Close (GP)", "Average (GP)", "Volume (Sold)"]
    
    #convert volume dtype to int
    item_data["Volume (Sold)"] = item_data["Volume (Sold)"].astype("int")
    
    return item_data

In [27]:
clean_bond_data(bond_df_copy)

            Close (GP)  Average (GP)
Date
2020-04-08     4134618       4522980
2020-04-09     4009639       4501601
2020-04-10     3903868       4473252
2020-04-11     3853462       4442300
2020-04-12     3941327       4415261
...                ...           ...
2020-10-20     5803452       5424806
2020-10-21     5934796       5451299
2020-10-22     5916807       5475026
2020-10-23     5729726       5490737
2020-10-24     5582513       5501892

[200 rows x 2 columns]

In [28]:
clean_item_data(rchins_copy)

            Close (GP)  Average (GP)  Volume (Sold)
Date
2020-04-08        1734          1762        9968057
2020-04-09        1741          1761        5868933
2020-04-10        1737          1759        3882743
2020-04-11        1726          1758       11836445
2020-04-12        1686          1756        7549086
...                ...           ...            ...
2020-10-20        1182          1105        8191571
2020-10-21        1168          1103        9429012
2020-10-22        1155          1101        6979693
2020-10-23        1145          1099        5877863
2020-10-24        1137          1098        6976954

[200 rows x 3 columns]

# Dataset Investigation:  Will our cleaning work? #

In [29]:
#don't need to do this more than once
"""
for r, d, f in os.walk("hist_data/"):
    for file in f:
        if "appended" in file and "old" not in file:
            df = pd.read_csv(r+file)
            print(f"NAME:  {file}\nCOLUMNS: {df.columns}\n")
            name_prefix = re.sub("_appended.csv",".csv", file)
            print(f"PREFIX {name_prefix}")
            clean_df = clean_item_data(df)
            display(clean_df.head())
            display(clean_df.tail())
            clean_df.to_csv("clean_data/"+name_prefix)
"""

'\nfor r, d, f in os.walk("hist_data/"):\n    for file in f:\n        if "appended" in file and "old" not in file:\n            df = pd.read_csv(r+file)\n            print(f"NAME:  {file}\nCOLUMNS: {df.columns}\n")\n            name_prefix = re.sub("_appended.csv",".csv", file)\n            print(f"PREFIX {name_prefix}")\n            clean_df = clean_item_data(df)\n            display(clean_df.head())\n            display(clean_df.tail())\n            clean_df.to_csv("clean_data/"+name_prefix)\n'

In [30]:
#don't need to do this more than once
#old_school_csv = "hist_data/old_school_bond_appended.csv"
#clean_bond_data(pd.read_csv(old_school_csv)).to_csv("clean_data/old_school_bond.csv")

# Adding .csv to MongoDB #

MongoDB is already set up at the top of this notebook. I'll interact with the cluster via `db`.

Inside of this database `db` I need to make several `collections` (basically tables) for each of the datasets.

In the future, I'll do this for every tradeable. The historical data I'm working with in this notebook is a good start for my current playstyle.

In [31]:
y = "yew_long_bow.csv"
print(y)
y = re.sub('_', ' ', y)
y = re.sub(".csv", '', y)
foo = [i.capitalize() for i in y.split()]
bar = ' '.join(foo)
bar

yew_long_bow.csv

'Yew Long Bow'

In [32]:
def make_collection_name(filename):
    n = re.sub('_', ' ', filename)
    n = re.sub('.csv', '', n)
    name = [i.capitalize() for i in n.split()]
    return ' '.join(name)

for r, d, f in os.walk("clean_data/"):
    for filename in f:
        print(make_collection_name(filename))

Old School Bond
Dragon Bones
Black Chinchompa
Magic Logs
Red Chinchompa
Yew Longbow
Black Dragonhide

In [33]:
import json

In [34]:
df = pd.read_csv("clean_data/black_chinchompa.csv")
df_json = json.loads(df.to_json(orient="records"))
df_json

[{'Date': '2020-04-08',
  'Close (GP)': 3403,
  'Average (GP)': 3524,
  'Volume (Sold)': 2934738},
 {'Date': '2020-04-09',
  'Close (GP)': 3379,
  'Average (GP)': 3517,
  'Volume (Sold)': 1970588},
 {'Date': '2020-04-10',
  'Close (GP)': 3364,
  'Average (GP)': 3510,
  'Volume (Sold)': 1329140},
 {'Date': '2020-04-11',
  'Close (GP)': 3374,
  'Average (GP)': 3504,
  'Volume (Sold)': 3775753},
 {'Date': '2020-04-12',
  'Close (GP)': 3400,
  'Average (GP)': 3495,
  'Volume (Sold)': 2212882},
 {'Date': '2020-04-13',
  'Close (GP)': 3407,
  'Average (GP)': 3487,
  'Volume (Sold)': 1568562},
 {'Date': '2020-04-14',
  'Close (GP)': 3395,
  'Average (GP)': 3479,
  'Volume (Sold)': 1796671},
 {'Date': '2020-04-15',
  'Close (GP)': 3336,
  'Average (GP)': 3467,
  'Volume (Sold)': 612489},
 {'Date': '2020-04-16',
  'Close (GP)': 3297,
  'Average (GP)': 3457,
  'Volume (Sold)': 1299774},
 {'Date': '2020-04-17',
  'Close (GP)': 3305,
  'Average (GP)': 3449,
  'Volume (Sold)': 2261863},
 {'Date': '2020-04-18',
  'Close (GP)': 3296,
  'Average (GP)': 3441,
  'Volume (Sold)': 2539870},
 {'Date': '2020-04-19',
  'Close (GP)': 3285,
  'Average (GP)': 3432,
  'Volume (Sold)': 585309},
 {'Date': '2020-04-20',
  'Close (GP)': 3258,
  'Average (GP)': 3423,
  'Volume (Sold)': 1987016},
 {'Date': '2020-04-21',
  'Close (GP)': 3250,
  'Average (GP)': 3414,
  'Volume (Sold)': 1665851},
 {'Date': '2020-04-22',
  'Close (GP)': 3241,
  'Average (GP)': 3402,
  'Volume (Sold)': 663186},
 {'Date': '2020-04-23',
  'Close (GP)': 3232,
  'Average (GP)': 3391,
  'Volume (Sold)': 1964816},
 {'Date': '2020-04-24',
  'Close (GP)': 3216,
  'Average (GP)': 3378,
  'Volume (Sold)': 1854381},
 {'Date': '2020-04-25',
  'Close (GP)': 3189,
  'Average (GP)': 3366,
  'Volume (Sold)': 2069515},
 {'Date': '2020-04-26',
  'Close (GP)': 3177,
  'Average (GP)': 3354,
  'Volume (Sold)': 3150015},
 {'Date': '2020-04-27',
  'Close (GP)': 3166,
  'Average (GP)': 3342,
  'Volume (Sold)': 2895437},
 {'Date': '2020-04-28',
  'Close (GP)': 3160,
  'Average (GP)': 3330,
  'Volume (Sold)': 2582817},
 {'Date': '2020-04-29',
  'Close (GP)': 3243,
  'Average (GP)': 3321,
  'Volume (Sold)': 138875},
 {'Date': '2020-04-30',
  'Close (GP)': 3329,
  'Average (GP)': 3316,
  'Volume (Sold)': 2532189},
 {'Date': '2020-05-01',
  'Close (GP)': 3439,
  'Average (GP)': 3315,
  'Volume (Sold)': 1243592},
 {'Date': '2020-05-02',
  'Close (GP)': 3413,
  'Average (GP)': 3315,
  'Volume (Sold)': 2230739},
 {'Date': '2020-05-03',
  'Close (GP)': 3439,
  'Average (GP)': 3317,
  'Volume (Sold)': 275812},
 {'Date': '2020-05-04',
  'Close (GP)': 3406,
  'Average (GP)': 3319,
  'Volume (Sold)': 1442559},
 {'Date': '2020-05-05',
  'Close (GP)': 3377,
  'Average (GP)': 3320,
  'Volume (Sold)': 2321376},
 {'Date': '2020-05-06',
  'Close (GP)': 3359,
  'Average (GP)': 3318,
  'Volume (Sold)': 3058976},
 {'Date': '2020-05-07',
  'Close (GP)': 3341,
  'Average (GP)': 3315,
  'Volume (Sold)': 2031835},
 {'Date': '2020-05-08',
  'Close (GP)': 3323,
  'Average (GP)': 3313,
  'Volume (Sold)': 1671280},
 {'Date': '2020-05-09',
  'Close (GP)': 3327,
  'Average (GP)': 3311,
  'Volume (Sold)': 3244675},
 {'Date': '2020-05-10',
  'Close (GP)': 3232,
  'Average (GP)': 3307,
  'Volume (Sold)': 782535},
 {'Date': '2020-05-11',
  'Close (GP)': 3199,
  'Average (GP)': 3301,
  'Volume (Sold)': 1701023},
 {'Date': '2020-05-12',
  'Close (GP)': 3167,
  'Average (GP)': 3293,
  'Volume (Sold)': 1696580},
 {'Date': '2020-05-13',
  'Close (GP)': 3139,
  'Average (GP)': 3284,
  'Volume (Sold)': 260942},
 {'Date': '2020-05-14',
  'Close (GP)': 3124,
  'Average (GP)': 3275,
  'Volume (Sold)': 1424279},
 {'Date': '2020-05-15',
  'Close (GP)': 3132,
  'Average (GP)': 3268,
  'Volume (Sold)': 2216243},
 {'Date': '2020-05-16',
  'Close (GP)': 3146,
  'Average (GP)': 3263,
  'Volume (Sold)': 2600607},
 {'Date': '2020-05-17',
  'Close (GP)': 3164,
  'Average (GP)': 3258,
  'Volume (Sold)': 2451729},
 {'Date': '2020-05-18',
  'Close (GP)': 3179,
  'Average (GP)': 3255,
  'Volume (Sold)': 1316971},
 {'Date': '2020-05-19',
  'Close (GP)': 3136,
  'Average (GP)': 3250,
  'Volume (Sold)': 2294338},
 {'Date': '2020-05-20',
  'Close (GP)': 3160,
  'Average (GP)': 3246,
  'Volume (Sold)': 1858271},
 {'Date': '2020-05-21',
  'Close (GP)': 3221,
  'Average (GP)': 3245,
  'Volume (Sold)': 1636303},
 {'Date': '2020-05-22',
  'Close (GP)': 3273,
  'Average (GP)': 3246,
  'Volume (Sold)': 1934979},
 {'Date': '2020-05-23',
  'Close (GP)': 3257,
  'Average (GP)': 3247,
  'Volume (Sold)': 3763136},
 {'Date': '2020-05-24',
  'Close (GP)': 3210,
  'Average (GP)': 3247,
  'Volume (Sold)': 1639912},
 {'Date': '2020-05-25',
  'Close (GP)': 3208,
  'Average (GP)': 3248,
  'Volume (Sold)': 1061901},
 {'Date': '2020-05-26',
  'Close (GP)': 3256,
  'Average (GP)': 3250,
  'Volume (Sold)': 1676187},
 {'Date': '2020-05-27',
  'Close (GP)': 3235,
  'Average (GP)': 3253,
  'Volume (Sold)': 1577883},
 {'Date': '2020-05-28',
  'Close (GP)': 3205,
  'Average (GP)': 3254,
  'Volume (Sold)': 1518903},
 {'Date': '2020-05-29',
  'Close (GP)': 3192,
  'Average (GP)': 3252,
  'Volume (Sold)': 2722873},
 {'Date': '2020-05-30',
  'Close (GP)': 3161,
  'Average (GP)': 3247,
  'Volume (Sold)': 2014418},
 {'Date': '2020-05-31',
  'Close (GP)': 3107,
  'Average (GP)': 3236,
  'Volume (Sold)': 2441112},
 {'Date': '2020-06-01',
  'Close (GP)': 3052,
  'Average (GP)': 3224,
  'Volume (Sold)': 1779940},
 {'Date': '2020-06-02',
  'Close (GP)': 2965,
  'Average (GP)': 3208,
  'Volume (Sold)': 3023629},
 {'Date': '2020-06-03',
  'Close (GP)': 3019,
  'Average (GP)': 3195,
  'Volume (Sold)': 971304},
 {'Date': '2020-06-04',
  'Close (GP)': 3028,
  'Average (GP)': 3183,
  'Volume (Sold)': 1237061},
 {'Date': '2020-06-05',
  'Close (GP)': 3067,
  'Average (GP)': 3174,
  'Volume (Sold)': 2896194},
 {'Date': '2020-06-06',
  'Close (GP)': 3084,
  'Average (GP)': 3165,
  'Volume (Sold)': 2251598},
 {'Date': '2020-06-07',
  'Close (GP)': 3094,
  'Average (GP)': 3157,
  'Volume (Sold)': 1658826},
 {'Date': '2020-06-08',
  'Close (GP)': 3109,
  'Average (GP)': 3150,
  'Volume (Sold)': 1611835},
 {'Date': '2020-06-09',
  'Close (GP)': 3138,
  'Average (GP)': 3147,
  'Volume (Sold)': 1906274},
 {'Date': '2020-06-10',
  'Close (GP)': 3121,
  'Average (GP)': 3144,
  'Volume (Sold)': 2774135},
 {'Date': '2020-06-11',
  'Close (GP)': 3099,
  'Average (GP)': 3142,
  'Volume (Sold)': 632362},
 {'Date': '2020-06-12',
  'Close (GP)': 2979,
  'Average (GP)': 3137,
  'Volume (Sold)': 1390415},
 {'Date': '2020-06-13',
  'Close (GP)': 2917,
  'Average (GP)': 3130,
  'Volume (Sold)': 2140698},
 {'Date': '2020-06-14',
  'Close (GP)': 2927,
  'Average (GP)': 3123,
  'Volume (Sold)': 820161},
 {'Date': '2020-06-15',
  'Close (GP)': 2843,
  'Average (GP)': 3113,
  'Volume (Sold)': 2078684},
 {'Date': '2020-06-16',
  'Close (GP)': 2867,
  'Average (GP)': 3103,
  'Volume (Sold)': 1557293},
 {'Date': '2020-06-17',
  'Close (GP)': 2969,
  'Average (GP)': 3096,
  'Volume (Sold)': 782398},
 {'Date': '2020-06-18',
  'Close (GP)': 3016,
  'Average (GP)': 3092,
  'Volume (Sold)': 1023845},
 {'Date': '2020-06-19',
  'Close (GP)': 3031,
  'Average (GP)': 3088,
  'Volume (Sold)': 2812017},
 {'Date': '2020-06-20',
  'Close (GP)': 3038,
  'Average (GP)': 3082,
  'Volume (Sold)': 1570462},
 {'Date': '2020-06-21',
  'Close (GP)': 3024,
  'Average (GP)': 3073,
  'Volume (Sold)': 124612},
 {'Date': '2020-06-22',
  'Close (GP)': 2989,
  'Average (GP)': 3065,
  'Volume (Sold)': 2508996},
 {'Date': '2020-06-23',
  'Close (GP)': 2996,
  'Average (GP)': 3057,
  'Volume (Sold)': 1904528},
 {'Date': '2020-06-24',
  'Close (GP)': 2991,
  'Average (GP)': 3050,
  'Volume (Sold)': 1000},
 {'Date': '2020-06-25',
  'Close (GP)': 3021,
  'Average (GP)': 3042,
  'Volume (Sold)': 2272681},
 {'Date': '2020-06-26',
  'Close (GP)': 3044,
  'Average (GP)': 3036,
  'Volume (Sold)': 2188820},
 {'Date': '2020-06-27',
  'Close (GP)': 3037,
  'Average (GP)': 3030,
  'Volume (Sold)': 1797354},
 {'Date': '2020-06-28',
  'Close (GP)': 3017,
  'Average (GP)': 3025,
  'Volume (Sold)': 1914869},
 {'Date': '2020-06-29',
  'Close (GP)': 2999,
  'Average (GP)': 3019,
  'Volume (Sold)': 1715527},
 {'Date': '2020-06-30',
  'Close (GP)': 2936,
  'Average (GP)': 3013,
  'Volume (Sold)': 2793428},
 {'Date': '2020-07-01',
  'Close (GP)': 2904,
  'Average (GP)': 3008,
  'Volume (Sold)': 1309833},
 {'Date': '2020-07-02',
  'Close (GP)': 2917,
  'Average (GP)': 3007,
  'Volume (Sold)': 2013022},
 {'Date': '2020-07-03',
  'Close (GP)': 2937,
  'Average (GP)': 3004,
  'Volume (Sold)': 2412816},
 {'Date': '2020-07-04',
  'Close (GP)': 2994,
  'Average (GP)': 3003,
  'Volume (Sold)': 2331841},
 {'Date': '2020-07-05',
  'Close (GP)': 2981,
  'Average (GP)': 3000,
  'Volume (Sold)': 1350257},
 {'Date': '2020-07-06',
  'Close (GP)': 3013,
  'Average (GP)': 2998,
  'Volume (Sold)': 2772474},
 {'Date': '2020-07-07',
  'Close (GP)': 2992,
  'Average (GP)': 2994,
  'Volume (Sold)': 1379070},
 {'Date': '2020-07-08',
  'Close (GP)': 2981,
  'Average (GP)': 2990,
  'Volume (Sold)': 83475},
 {'Date': '2020-07-09',
  'Close (GP)': 2992,
  'Average (GP)': 2985,
  'Volume (Sold)': 1696549},
 {'Date': '2020-07-10',
  'Close (GP)': 2987,
  'Average (GP)': 2981,
  'Volume (Sold)': 2664479},
 {'Date': '2020-07-11',
  'Close (GP)': 2983,
  'Average (GP)': 2977,
  'Volume (Sold)': 2194129},
 {'Date': '2020-07-12',
  'Close (GP)': 2967,
  'Average (GP)': 2977,
  'Volume (Sold)': 1296622},
 {'Date': '2020-07-13',
  'Close (GP)': 2964,
  'Average (GP)': 2978,
  'Volume (Sold)': 2097847},
 {'Date': '2020-07-14',
  'Close (GP)': 2959,
  'Average (GP)': 2979,
  'Volume (Sold)': 2199614},
 {'Date': '2020-07-15',
  'Close (GP)': 2970,
  'Average (GP)': 2983,
  'Volume (Sold)': 487877},
 {'Date': '2020-07-16',
  'Close (GP)': 3079,
  'Average (GP)': 2990,
  'Volume (Sold)': 1910232},
 {'Date': '2020-07-17',
  'Close (GP)': 3154,
  'Average (GP)': 2997,
  'Volume (Sold)': 1737410},
 {'Date': '2020-07-18',
  'Close (GP)': 3251,
  'Average (GP)': 3004,
  'Volume (Sold)': 1568332},
 {'Date': '2020-07-19',
  'Close (GP)': 3208,
  'Average (GP)': 3010,
  'Volume (Sold)': 228918},
 {'Date': '2020-07-20',
  'Close (GP)': 3172,
  'Average (GP)': 3015,
  'Volume (Sold)': 1758884},
 {'Date': '2020-07-21',
  'Close (GP)': 3156,
  'Average (GP)': 3019,
  'Volume (Sold)': 1547950},
 {'Date': '2020-07-22',
  'Close (GP)': 3108,
  'Average (GP)': 3023,
  'Volume (Sold)': 58085},
 {'Date': '2020-07-23',
  'Close (GP)': 3088,
  'Average (GP)': 3026,
  'Volume (Sold)': 1618604},
 {'Date': '2020-07-24',
  'Close (GP)': 3031,
  'Average (GP)': 3028,
  'Volume (Sold)': 1882534},
 {'Date': '2020-07-25',
  'Close (GP)': 2958,
  'Average (GP)': 3025,
  'Volume (Sold)': 2641183},
 {'Date': '2020-07-26',
  'Close (GP)': 2915,
  'Average (GP)': 3021,
  'Volume (Sold)': 562816},
 {'Date': '2020-07-27',
  'Close (GP)': 2884,
  'Average (GP)': 3016,
  'Volume (Sold)': 2000927},
 {'Date': '2020-07-28',
  'Close (GP)': 2840,
  'Average (GP)': 3010,
  'Volume (Sold)': 2385266},
 {'Date': '2020-07-29',
  'Close (GP)': 2847,
  'Average (GP)': 3005,
  'Volume (Sold)': 2084957},
 {'Date': '2020-07-30',
  'Close (GP)': 2865,
  'Average (GP)': 3003,
  'Volume (Sold)': 2665577},
 {'Date': '2020-07-31',
  'Close (GP)': 2907,
  'Average (GP)': 3003,
  'Volume (Sold)': 882849},
 {'Date': '2020-08-01',
  'Close (GP)': 2892,
  'Average (GP)': 3002,
  'Volume (Sold)': 2619164},
 {'Date': '2020-08-02',
  'Close (GP)': 2884,
  'Average (GP)': 3000,
  'Volume (Sold)': 689792},
 {'Date': '2020-08-03',
  'Close (GP)': 2933,
  'Average (GP)': 2998,
  'Volume (Sold)': 2001538},
 {'Date': '2020-08-04',
  'Close (GP)': 2917,
  'Average (GP)': 2996,
  'Volume (Sold)': 1727699},
 {'Date': '2020-08-05',
  'Close (GP)': 2909,
  'Average (GP)': 2993,
  'Volume (Sold)': 496138},
 {'Date': '2020-08-06',
  'Close (GP)': 2934,
  'Average (GP)': 2991,
  'Volume (Sold)': 1213456},
 {'Date': '2020-08-07',
  'Close (GP)': 2957,
  'Average (GP)': 2990,
  'Volume (Sold)': 2330713},
 {'Date': '2020-08-08',
  'Close (GP)': 3011,
  'Average (GP)': 2991,
  'Volume (Sold)': 2210681},
 {'Date': '2020-08-09',
  'Close (GP)': 3029,
  'Average (GP)': 2992,
  'Volume (Sold)': 1178482},
 {'Date': '2020-08-10',
  'Close (GP)': 3031,
  'Average (GP)': 2994,
  'Volume (Sold)': 2760550},
 {'Date': '2020-08-11',
  'Close (GP)': 3009,
  'Average (GP)': 2995,
  'Volume (Sold)': 858097},
 {'Date': '2020-08-12',
  'Close (GP)': 3013,
  'Average (GP)': 2997,
  'Volume (Sold)': 2693086},
 {'Date': '2020-08-13',
  'Close (GP)': 2973,
  'Average (GP)': 2997,
  'Volume (Sold)': 1505609},
 {'Date': '2020-08-14',
  'Close (GP)': 2945,
  'Average (GP)': 2996,
  'Volume (Sold)': 2622936},
 {'Date': '2020-08-15',
  'Close (GP)': 2892,
  'Average (GP)': 2990,
  'Volume (Sold)': 895987},
 {'Date': '2020-08-16',
  'Close (GP)': 2892,
  'Average (GP)': 2981,
  'Volume (Sold)': 2240490},
 {'Date': '2020-08-17',
  'Close (GP)': 2875,
  'Average (GP)': 2969,
  'Volume (Sold)': 174718},
 {'Date': '2020-08-18',
  'Close (GP)': 2836,
  'Average (GP)': 2956,
  'Volume (Sold)': 1526972},
 {'Date': '2020-08-19',
  'Close (GP)': 2818,
  'Average (GP)': 2944,
  'Volume (Sold)': 1733447},
 {'Date': '2020-08-20',
  'Close (GP)': 2823,
  'Average (GP)': 2933,
  'Volume (Sold)': 2628875},
 {'Date': '2020-08-21',
  'Close (GP)': 2895,
  'Average (GP)': 2926,
  'Volume (Sold)': 2263543},
 {'Date': '2020-08-22',
  'Close (GP)': 2908,
  'Average (GP)': 2920,
  'Volume (Sold)': 1704161},
 {'Date': '2020-08-23',
  'Close (GP)': 2928,
  'Average (GP)': 2917,
  'Volume (Sold)': 2355718},
 {'Date': '2020-08-24',
  'Close (GP)': 2911,
  'Average (GP)': 2915,
  'Volume (Sold)': 2080703},
 {'Date': '2020-08-25',
  'Close (GP)': 2893,
  'Average (GP)': 2915,
  'Volume (Sold)': 1855006},
 {'Date': '2020-08-26',
  'Close (GP)': 2893,
  'Average (GP)': 2915,
  'Volume (Sold)': 1947289},
 {'Date': '2020-08-27',
  'Close (GP)': 2904,
  'Average (GP)': 2917,
  'Volume (Sold)': 2565041},
 {'Date': '2020-08-28',
  'Close (GP)': 2922,
  'Average (GP)': 2919,
  'Volume (Sold)': 1481849},
 {'Date': '2020-08-29',
  'Close (GP)': 2918,
  'Average (GP)': 2921,
  'Volume (Sold)': 3085864},
 {'Date': '2020-08-30',
  'Close (GP)': 2901,
  'Average (GP)': 2921,
  'Volume (Sold)': 1397838},
 {'Date': '2020-08-31',
  'Close (GP)': 2875,
  'Average (GP)': 2920,
  'Volume (Sold)': 1974923},
 {'Date': '2020-09-01',
  'Close (GP)': 2837,
  'Average (GP)': 2919,
  'Volume (Sold)': 1675818},
 {'Date': '2020-09-02',
  'Close (GP)': 2784,
  'Average (GP)': 2914,
  'Volume (Sold)': 1557001},
 {'Date': '2020-09-03',
  'Close (GP)': 2783,
  'Average (GP)': 2909,
  'Volume (Sold)': 2712975},
 {'Date': '2020-09-04',
  'Close (GP)': 2745,
  'Average (GP)': 2904,
  'Volume (Sold)': 2499352},
 {'Date': '2020-09-05',
  'Close (GP)': 2787,
  'Average (GP)': 2899,
  'Volume (Sold)': 1661332},
 {'Date': '2020-09-06',
  'Close (GP)': 2831,
  'Average (GP)': 2895,
  'Volume (Sold)': 1741630},
 {'Date': '2020-09-07',
  'Close (GP)': 2872,
  'Average (GP)': 2890,
  'Volume (Sold)': 2498671},
 {'Date': '2020-09-08',
  'Close (GP)': 2914,
  'Average (GP)': 2886,
  'Volume (Sold)': 1618559},
 {'Date': '2020-09-09',
  'Close (GP)': 2961,
  'Average (GP)': 2884,
  'Volume (Sold)': 1686508},
 {'Date': '2020-09-10',
  'Close (GP)': 2972,
  'Average (GP)': 2883,
  'Volume (Sold)': 1944500},
 {'Date': '2020-09-11',
  'Close (GP)': 2994,
  'Average (GP)': 2882,
  'Volume (Sold)': 2284158},
 {'Date': '2020-09-12',
  'Close (GP)': 3011,
  'Average (GP)': 2884,
  'Volume (Sold)': 1934024},
 {'Date': '2020-09-13',
  'Close (GP)': 2985,
  'Average (GP)': 2885,
  'Volume (Sold)': 1896057},
 {'Date': '2020-09-14',
  'Close (GP)': 2974,
  'Average (GP)': 2888,
  'Volume (Sold)': 1760802},
 {'Date': '2020-09-15',
  'Close (GP)': 2947,
  'Average (GP)': 2889,
  'Volume (Sold)': 313892},
 {'Date': '2020-09-16',
  'Close (GP)': 2974,
  'Average (GP)': 2893,
  'Volume (Sold)': 1095811},
 {'Date': '2020-09-17',
  'Close (GP)': 3075,
  'Average (GP)': 2901,
  'Volume (Sold)': 2360828},
 {'Date': '2020-09-18',
  'Close (GP)': 3123,
  'Average (GP)': 2911,
  'Volume (Sold)': 1358548},
 {'Date': '2020-09-19',
  'Close (GP)': 3083,
  'Average (GP)': 2920,
  'Volume (Sold)': 2642093},
 {'Date': '2020-09-20',
  'Close (GP)': 3029,
  'Average (GP)': 2924,
  'Volume (Sold)': 184287},
 {'Date': '2020-09-21',
  'Close (GP)': 3009,
  'Average (GP)': 2927,
  'Volume (Sold)': 457192},
 {'Date': '2020-09-22',
  'Close (GP)': 2964,
  'Average (GP)': 2929,
  'Volume (Sold)': 1520991},
 {'Date': '2020-09-23',
  'Close (GP)': 2933,
  'Average (GP)': 2929,
  'Volume (Sold)': 2813693},
 {'Date': '2020-09-24',
  'Close (GP)': 2857,
  'Average (GP)': 2928,
  'Volume (Sold)': 2595441},
 {'Date': '2020-09-25',
  'Close (GP)': 2802,
  'Average (GP)': 2925,
  'Volume (Sold)': 1376215},
 {'Date': '2020-09-26',
  'Close (GP)': 2831,
  'Average (GP)': 2923,
  'Volume (Sold)': 3551052},
 {'Date': '2020-09-27',
  'Close (GP)': 2809,
  'Average (GP)': 2919,
  'Volume (Sold)': 291122},
 {'Date': '2020-09-28',
  'Close (GP)': 2796,
  'Average (GP)': 2915,
  'Volume (Sold)': 1474970},
 {'Date': '2020-09-29',
  'Close (GP)': 2775,
  'Average (GP)': 2911,
  'Volume (Sold)': 2086325},
 {'Date': '2020-09-30',
  'Close (GP)': 2751,
  'Average (GP)': 2906,
  'Volume (Sold)': 1882915},
 {'Date': '2020-10-01',
  'Close (GP)': 2727,
  'Average (GP)': 2903,
  'Volume (Sold)': 1815904},
 {'Date': '2020-10-02',
  'Close (GP)': 2719,
  'Average (GP)': 2901,
  'Volume (Sold)': 2305936},
 {'Date': '2020-10-03',
  'Close (GP)': 2710,
  'Average (GP)': 2898,
  'Volume (Sold)': 3240801},
 {'Date': '2020-10-04',
  'Close (GP)': 2745,
  'Average (GP)': 2898,
  'Volume (Sold)': 212846},
 {'Date': '2020-10-05',
  'Close (GP)': 2710,
  'Average (GP)': 2896,
  'Volume (Sold)': 1326741},
 {'Date': '2020-10-06',
  'Close (GP)': 2699,
  'Average (GP)': 2891,
  'Volume (Sold)': 24625},
 {'Date': '2020-10-07',
  'Close (GP)': 2676,
  'Average (GP)': 2885,
  'Volume (Sold)': 3010587},
 {'Date': '2020-10-08',
  'Close (GP)': 2661,
  'Average (GP)': 2876,
  'Volume (Sold)': 1955549},
 {'Date': '2020-10-09',
  'Close (GP)': 2672,
  'Average (GP)': 2867,
  'Volume (Sold)': 1594597},
 {'Date': '2020-10-10',
  'Close (GP)': 2657,
  'Average (GP)': 2856,
  'Volume (Sold)': 3379671},
 {'Date': '2020-10-11',
  'Close (GP)': 2640,
  'Average (GP)': 2844,
  'Volume (Sold)': 1724330},
 {'Date': '2020-10-12',
  'Close (GP)': 2655,
  'Average (GP)': 2832,
  'Volume (Sold)': 3295545},
 {'Date': '2020-10-13',
  'Close (GP)': 2641,
  'Average (GP)': 2821,
  'Volume (Sold)': 883516},
 {'Date': '2020-10-14',
  'Close (GP)': 2626,
  'Average (GP)': 2809,
  'Volume (Sold)': 1980301},
 {'Date': '2020-10-15',
  'Close (GP)': 2597,
  'Average (GP)': 2798,
  'Volume (Sold)': 1778312},
 {'Date': '2020-10-16',
  'Close (GP)': 2573,
  'Average (GP)': 2784,
  'Volume (Sold)': 3816755},
 {'Date': '2020-10-17',
  'Close (GP)': 2610,
  'Average (GP)': 2769,
  'Volume (Sold)': 3055278},
 {'Date': '2020-10-18',
  'Close (GP)': 2626,
  'Average (GP)': 2752,
  'Volume (Sold)': 1855164},
 {'Date': '2020-10-19',
  'Close (GP)': 2676,
  'Average (GP)': 2739,
  'Volume (Sold)': 2624653},
 {'Date': '2020-10-20',
  'Close (GP)': 2657,
  'Average (GP)': 2726,
  'Volume (Sold)': 2353179},
 {'Date': '2020-10-21',
  'Close (GP)': 2640,
  'Average (GP)': 2714,
  'Volume (Sold)': 2806620},
 {'Date': '2020-10-22',
  'Close (GP)': 2640,
  'Average (GP)': 2703,
  'Volume (Sold)': 2423780},
 {'Date': '2020-10-23',
  'Close (GP)': 2631,
  'Average (GP)': 2693,
  'Volume (Sold)': 2257788},
 {'Date': '2020-10-24',
  'Close (GP)': 2622,
  'Average (GP)': 2685,
  'Volume (Sold)': 2931341}]

In [35]:
def fresh_populate_mongo_collection(db, collection_name, dataframe):
    """
    Remove any contents of a collection and populate it with data
    from the current dataframe
    
    db (pymongo.database.Database):  The database parent of a collection
    collection_name (str):  The desired name of the collection
    dataframe (pandas.DataFrame):  A dataframe holding the data you want to put into the collection
    """
    
    #convert csv to json; each dict is 1 document (aka row)
    data_json = json.loads(dataframe.to_json(orient="records"))
    
    #clear anything currently populating the collection
    db[collection_name].delete_many({ })
    
    #post the data to a collection
    db[collection_name].insert_many(data_json)
    
    return

In [36]:
bond_collection_name = make_collection_name("old_school_bond.csv")
bond_clean = pd.read_csv("clean_data/old_school_bond.csv")
fresh_populate_mongo_collection(db, bond_collection_name, bond_clean)

In [37]:
for r, d, f in os.walk("clean_data/"):
    for filename in f:
        cn = make_collection_name(filename)
        clean_df = pd.read_csv("clean_data/"+filename)
        fresh_populate_mongo_collection(db, cn, clean_df)

Loading up MongoDB Compass shows that all of our data has been placed correctly!

# Quick Mongo Experiment #

In [38]:
cursor = db["Old School Bond"].find()
len(list(cursor))

200

So you retrieve every document in a collection by passing no arguments to `database.collection.find()`